<div class="main-container">
  <div class="row">
      <div class="col s6 offset-s3">
          <!-- offset-s3 -->
          <div class="card">
              <div class="card-content">
                  <span class="card-title center-align"><h4 class="header">Log In COMPANY</h4></span>
                  <div class="row">
                      <form class="col s12">
                          <div class="row">
                            <div class="input-field col s6 offset-s3">
                                <i class="material-icons prefix">account_balance_wallet</i>
                                <input [(ngModel)]="idcompany" name="username" id="username" type="text" class="validate">
                                <label for="username">ID Company</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s6 offset-s3">
                                <i class="material-icons prefix">lock_outline</i>
                                <input  [(ngModel)]="password" name="password" id="pass" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="card-action">
                  <div class="row">
                      <div class="col s10 offset-s1 center-align">
                          <button (click)="postLogInData()" class="btn waves-effect waves-light green lighten-1" type="submit" name="action">Submit
                              <i class="material-icons right">send</i>
                           </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>